{% extends 'base.html' %}
{% block title %}Сайты{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
            {% for url in urls %}
            <tr>
                <td>{{ url.id }}</td>
                <td>
                    <a href="{{ url_for('url', url_id=url.id) }}">
                        {{ url.name }}
                    </a>
                </td>

                <td>{{ url.last_check.created_at | dt if url.last_check }}</td>
                <td>{{ url.last_check.status_code if url.last_check}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
